/* You can add global styles to this file, and also import other style files */
.turnos{
    background-color: #005e9b;
    color: #ed8500;
}

body{
    background-color: #005e9b;
    color: #ed8500;
}

button {
    color: #005e9b;
    background-color: #ed8500;
}

.container{
    margin-top:  20px;
    background-color: #3b769e;
}

h1{
    color: #ed8500;
}